.country-info {
    width: 500px;
  border: 2px solid skyblue;
  border-radius: 20px;
  padding:  20px;
  margin: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content:center;
}

.flag-img{
    width: 250px;
    height: 150px;
}
span{
    color: skyblue;
    font-weight: bold;
}