.country-info {
    /* width: 500px;  */
  border: 2px solid tomato;
  border-radius: 20px;
  padding:  10px;
  margin: 20px;
}

.visited{
background-color: rgba(240, 148, 132, 0.285);
}

.flag-img{
    margin-top: 10px;
    width: 200px;
    height: 110px;
}
span{
    color: tomato;
    font-weight: bold;
}